/* Write your CSS here */
.red {
  background: linear-gradient(to bottom, #d91c1f, #0f172a);
}

.yellow {
  background: linear-gradient(to bottom, #f7db00, #0f172a);
}

.pink {
  background: linear-gradient(to bottom, #da237b, #0f172a);
}

.violet {
  background: linear-gradient(to bottom, #5755a7, #0f172a);
}

.orange {
  background: linear-gradient(to bottom, #f26d22, #0f172a);
}

.blue {
  background: linear-gradient(to bottom, #1e293b, #0f172a);
}

.sky-blue {
  background: linear-gradient(to bottom, #13418b, #0f172a);
}

.light-blue {
  background: linear-gradient(to bottom, #4f5db0, #0f172a);
}

.team-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.team-image {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.latest-match-container {
  display: flex;
  width: 100%;
}

.latest-match-title {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bree Serif';
  font-weight: 500;
  align-self: flex-start;
}

.recent-matches-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
